<section class="bg-white dark:bg-gray-900" id="faq">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Frequently asked questions</h2>
    <div class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-cols-2">
      <div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
            <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
            What is VKStore?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            VKStore is a platform developed to manage product orders and delivery processes between you, the retailers, and us, the manufacturers. You can easily handle order creation, stock tracking, payment methods, and much more.
          </p>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
            <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
            How Can I Use VKStore?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">To start using VKStore, firstly, we establish agreements by communicating with you and determining your profit margins. Then, we create an account for you, catering to your retail needs. You can browse products, place orders, and track deliveries.</p>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
            <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
            Which Payment Methods Do We Accept?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">We accept various payment methods on VKStore, including credit cards, EFT, and wire transfers. During the ordering process, you can choose your preferred payment method.
          </p>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
            <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
            When Will My Orders Be Delivered?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">The delivery time for your orders varies based on product availability and the delivery address. You can track the status of your orders through your VKStore account and access up-to-date information.</p>
        </div>
      </div>
      <div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
            <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
            How Can I Check Product Stock Availability?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">Through the VKStore application, you can view detailed stock information for products. You can keep track of the current quantities available and monitor stock availability in real-time.</p>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
            <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
            How Can I Secure My VKStore Account?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">To keep your VKStore account secure, ensure that you access your account only from trusted devices and secure internet connections. Additionally, remember to log out securely after using your session.</p>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
            <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
            What Support Services Do We Provide?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">Our VKStore customer support team is here to assist you with any issues related to the application. Whether it's order tracking, payment problems, technical issues, or other concerns, feel free to get in touch with us for support.</p>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
            <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
            How Can I Discover New Products on VKStore?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">We constantly update VKStore with new products. To discover these products, log in to your VKStore account, visit the "New Products" section on the homepage, or select "Newly Added Products" from the categories tab. You can explore detailed information and features of new products by visiting their respective product pages.</p>
        </div>
      </div>
    </div>
  </div>
</section>
